asyncio-executor==0.0.4
Django==2.1
django-anymail==1.0
django-environ==0.4.4
django-filter==2.0.0
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
numpy==1.15.2
PyJWT==1.6.4
python-slugify==1.2.6
python3-openid==3.1.0
requests==2.20.0
requests-oauthlib==1.0.0
django-user-agents==0.3.2